# Regras udev para dispositivos USB do robô Caramelo
# Criado em: 30 de Junho de 2025
# 
# Para aplicar as regras:
# sudo cp 99-caramelo-usb.rules /etc/udev/rules.d/
# sudo udevadm control --reload-rules
# sudo udevadm trigger
#
# Mapeamento desejado:
# USB0 -> ESP PWM (porta física 1-3)
# USB1 -> ESP Encoder (porta física 1-1)
# USB2 -> LiDAR
# USB3 -> Dispositivo FTDI (A50285BI) - FORÇADO
# USB4 -> Câmera ZED
# USB5 -> Intel RealSense

# ====== ESP PWM (USB0) ======
# Silicon Labs CP210x - Serial: 0001 - DevPath: 1-3 (porta física USB)
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", KERNELS=="1-3", SYMLINK+="caramelo_pwm", MODE="0666", GROUP="dialout"

# ====== ESP Encoder (USB1) ======
# Silicon Labs CP210x - Serial: 0001 - DevPath: 1-1 (porta física USB)
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", KERNELS=="1-1", SYMLINK+="caramelo_encoder", MODE="0666", GROUP="dialout"

# ====== LiDAR (USB2) ======
# Silicon Labs CP210x - Serial: e4c7c3b7f189ec119c08c271d76262f7
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="e4c7c3b7f189ec119c08c271d76262f7", SYMLINK+="caramelo_lidar", MODE="0666", GROUP="dialout"

# ====== DISPOSITIVO FTDI (USB3) ======
# FTDI FT232R USB UART - Serial: A50285BI - DevPath: 1-3 (forçar ttyUSB3)
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="A50285BI", SYMLINK+="caramelo_ftdi", KERNEL=="ttyUSB*", SYMLINK+="ttyUSB3", MODE="0666", GROUP="dialout"

# ====== Câmera ZED (USB4) ======
# STEREOLABS ZED 2i - Serial: OV0001
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="2b03", ATTRS{idProduct}=="f880", ATTRS{serial}=="OV0001", SYMLINK+="video_zed%n", MODE="0666", GROUP="video"
# ZED HID Interface - Serial: 35894370  
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="2b03", ATTRS{idProduct}=="f881", ATTRS{serial}=="35894370", SYMLINK+="hidraw_zed", MODE="0666", GROUP="input"
# ZED Media Device
SUBSYSTEM=="media", ATTRS{idVendor}=="2b03", ATTRS{idProduct}=="f880", ATTRS{serial}=="OV0001", SYMLINK+="media_zed", MODE="0666", GROUP="video"

# ====== Intel RealSense (USB5) ======
# Intel RealSense Depth Camera 455 - Serial: 337643060215
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="8086", ATTRS{idProduct}=="0b5c", ATTRS{serial}=="337643060215", SYMLINK+="video_realsense%n", MODE="0666", GROUP="video"
# RealSense HID Interface
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="8086", ATTRS{idProduct}=="0b5c", ATTRS{serial}=="337643060215", SYMLINK+="hidraw_realsense", MODE="0666", GROUP="input"
# RealSense Media Devices
SUBSYSTEM=="media", ATTRS{idVendor}=="8086", ATTRS{idProduct}=="0b5c", ATTRS{serial}=="337643060215", SYMLINK+="media_realsense%n", MODE="0666", GROUP="video"
# RealSense IIO Sensors
SUBSYSTEM=="iio", ATTRS{idVendor}=="8086", ATTRS{idProduct}=="0b5c", ATTRS{serial}=="337643060215", SYMLINK+="iio_realsense%n", MODE="0666", GROUP="input"

# ====== TODAS AS REGRAS FORAM CONFIGURADAS ======
# Para aplicar as regras, execute:
# sudo cp 99-caramelo-usb.rules /etc/udev/rules.d/
# sudo udevadm control --reload-rules  
# sudo udevadm trigger
